p { 
    padding: 5px; 
    font-family: Noto Sans; font-size: 13pt; font-weight: 350; 
    line-height: 30px; 
    opacity: 80%;
}

li { 
    padding: 5px; 
    font-family: Noto Sans; font-size: 13pt; font-weight: 350; 
    line-height: 30px; 
    opacity: 80%;
}

blockquote { 
    padding: 5px; 
    font-family: Noto Sans; font-size: 13pt; font-weight: 350; 
    line-height: 30px; 
    opacity: 80%;
    font-style: italic;
}

a { 
    font-family: Noto Sans; color: #db6f6f;
    opacity: 100%;
}

a:hover { 
    transition-duration: 0.075s;
    background-color: rgba(255, 108, 108, 0.15);
    text-decoration: underline; text-decoration-thickness: 1pt; 
    text-decoration-color: rgba(220, 113, 113, 0.75); 
}

h1 { 
    padding: 5px; 
    font-family: Noto Sans; font-size: 18pt; font-weight: 600; 
    line-height: 50px; letter-spacing: 7%;
}

h3 { 
    padding: 5px; 
    font-family: Noto Sans; font-size: 14pt; font-weight: 600; 
    line-height: 50px; letter-spacing: 7%;
}

.event-title {
    font-family: Noto Sans; font-size: 13pt; font-weight: 600;
    letter-spacing: 7%
}

.event-time {
    font-family: Noto Sans; font-size: 10pt; font-weight: 600;
    letter-spacing: 7%
}

button { 
    padding-left: 15px; padding-right: 15px; 
    font-family: Noto Sans; font-weight: 600; 
    letter-spacing: 7%; 
}

hr {
    position: absolute; width: 10vw; left: 45vw; 
    border: solid 1px #BDB8B8;
}